<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBN4xoTThKG2-AM2n92DeQqnKgGtuGxBj8</string>
	<key>GCM_SENDER_ID</key>
	<string>922916800011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.youMatter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>you-matter-8446c</string>
	<key>STORAGE_BUCKET</key>
	<string>you-matter-8446c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922916800011:ios:08e3e5415412c8b73d690e</string>
</dict>
</plist>